.update-quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .update-quiz-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .update-quiz-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  